<form method="post" action="/edit">
    Name:<input type="text" name="name" value="<%= data[0].name%>"><br/>
    <input type="hidden" name="_id" value="<%= data[0]._id%>"><br/>
    <input type="submit" value="Submit">
</form>