<h1>Travel Blogger</h1>

<% data.map((item)=> {%>
    <!-- <%=item._id %> -->
    <br/><img src="<%=item.Image %>" alt="image"><br/>
    <%=item.content %><br /><br/>
    <button 
    <input type="text"/>Leave your comment here.........<br/><br/>
<% })%>

