<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to the Blog App</h1>
  <a href="/signin">Admin Login</a>
  <ul>
    <% data.forEach((blog) => { %>
      <h1><%= blog.title %></h1>
      <p><%= blog.content%></p>
      <!-- <textarea id="" placeholder="Leave your comment here....."></textarea>
      <button type="submit">Submit</button> -->
      
    <% }); %>
  </ul>
  
  
</body>
</html>
